<?xml version='1.0' encoding='utf-8'?>
<widget id="my.com.razi.bpg" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>demo</name>
    <description>
demo
    </description>
    <author email="razi.com.my@gmail.com" href="https://github.com/razicommy">
        Razi ComMy
    </author>
    <content src="index.html" />
    <preference name="phonegap-version" value="cli-6.3.0" />     
    <plugin name="cordova-plugin-dialogs"  />
<plugin name="cordova-sqlite-storage" version="1.2.1" />
<plugin name="cordova-plugin-file" />
</widget>
